:root {
    --EMS-wlr: rgba(255, 177, 12, 1);
    --x: rgba(255, 255, 255, 1);
    --o-vr-7-sr: rgba(0, 0, 0, 1);
    --k-e-7j-1v: rgba(255, 255, 255, 1);
    --1: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  
