:root {
  --x-41-2zd-n: rgba(255, 177, 12, 1);
  --x: rgba(255, 255, 255, 1);
  --a-9um-5n: rgba(0, 0, 0, 1);
  --v-1y-y-wn: rgba(255, 255, 255, 1);
  --1: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

}