:root {
  --x: rgba(255, 255, 255, 1);
  --l-xn-VXW: rgba(255, 255, 255, 1);
  --lc-pk9h: rgba(255, 177, 12, 1);
  --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
