:root {
    --l-8pgzn: rgba(255, 177, 12, 1);
    --x: rgba(255, 255, 255, 1);
    --e-sh-1q-y: rgba(0, 0, 0, 1);
    --qh395q: rgba(255, 255, 255, 1);
    --1: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  
