:root {
  --x: rgba(255, 255, 255, 1);
  --k-xch-BU: rgba(255, 255, 255, 1);
  --h-mnh-yo: rgba(255, 177, 12, 1);
  --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
