:root {
  --1: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --2: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --3: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --AOSP-body-medium-font-family: "Roboto", Helvetica;
  --AOSP-body-medium-font-size: 14px;
  --AOSP-body-medium-font-style: normal;
  --AOSP-body-medium-font-weight: 400;
  --AOSP-body-medium-letter-spacing: 0.25px;
  --AOSP-body-medium-line-height: 20px;
  --l-p0add: rgba(255, 255, 255, 1);
  --s4i-6hc: rgba(255, 177, 12, 1);
  --x: rgba(255, 255, 255, 1);
  --ylgv-nt: rgba(0, 0, 0, 1);
}

body {
  overflow-x: hidden;
}

.div-wrapper_sl {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.div-wrapper_sl .div_sl {
  background-color: var(--x);
  height: 917px;
  position: relative;
  width: 412px;
}

.div-wrapper_sl .view_sl {
  background-color: #ffb10c42;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 412px;
}

.div-wrapper_sl .map-spicy_sl {
  height: 20px;
  left: 45px;
  position: absolute;
  top: 16px;
  width: 73px;
}

.div-wrapper_sl .text-wrapper_sl {
  color: #000000;
  font-family: "Kumbh Sans-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 20px;
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: absolute;
  top: -6px;
  white-space: nowrap;
}

.div-wrapper_sl .image-wrapper_sl {
  height: 35px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 35px;
}

.div-wrapper_sl .image_sl {
  height: 35px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 35px;
}

.div-wrapper_sl .menu-instance_sl {
  height: 30px !important;
  left: 373px !important;
  position: absolute !important;
  top: 4px !important;
  width: 30px !important;
}

.div-wrapper_sl .view-2_sl {
  background-color: #ffb10c42;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #d1d1d1;
  height: 92px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 43px;
  width: 412px;
}

.div-wrapper_sl .frame_sl {
  background-color: var(--l-p0add);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #e9e9e9;
  border-radius: 10px 10px 0px 0px;
  height: 37px;
  left: 47px;
  overflow: hidden;
  position: absolute;
  top: 9px;
  width: 348px;
  cursor: pointer;
}

.div-wrapper_sl .text-wrapper-2_sl {
  color: #7e7e7e;
  font-family: var(--AOSP-body-medium-font-family);
  font-size: var(--AOSP-body-medium-font-size);
  font-style: var(--AOSP-body-medium-font-style);
  font-weight: var(--AOSP-body-medium-font-weight);
  height: 20px;
  left: 14px;
  letter-spacing: var(--AOSP-body-medium-letter-spacing);
  line-height: var(--AOSP-body-medium-line-height);
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.div-wrapper_sl .overlap-group_sl {
  background-color: #d9d9d9;
  border-radius: 7px;
  height: 14px;
  left: 325px;
  position: absolute;
  top: 11px;
  width: 14px;
}

.div-wrapper_sl .frame-2_sl {
  background-color: var(--l-p0add);
  border-color: #e9e9e9;
  border-radius: 0px 0px 10px 10px;
  border-top-style: solid;
  border-top-width: 0.5px;
  height: 37px;
  left: 47px;
  overflow: hidden;
  position: absolute;
  top: 46px;
  width: 348px;
}

.div-wrapper_sl .text-wrapper-3_sl {
  color: #000000;
  font-family: var(--AOSP-body-medium-font-family);
  font-size: var(--AOSP-body-medium-font-size);
  font-style: var(--AOSP-body-medium-font-style);
  font-weight: var(--AOSP-body-medium-font-weight);
  height: 20px;
  left: 12px;
  letter-spacing: var(--AOSP-body-medium-letter-spacing);
  line-height: var(--AOSP-body-medium-line-height);
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.div-wrapper_sl .frame-3_sl {
  height: 63px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 412px;
}

.div-wrapper_sl .overlap_sl {
  height: 21px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 22px;
}

.div-wrapper_sl .group_sl {
  height: 19px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 19px;
}

.div-wrapper_sl .whitex_sl {
  width: 6px; /* 원하는 크기로 수정 */
  height: 6px; /* 원하는 크기로 수정 */
  position: absolute; /* 위치를 조정하려면 absolute를 사용 */
  top: 4px; /* 원하는 위치로 수정 */
  right: 4px; /* 오른쪽에서 10px 거리로 수정 */
  cursor: pointer;
}

.div-wrapper_sl .img_sl {
  height: 17px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 17px;
}

.div-wrapper_sl .overlap-2_sl {
  height: 23px;
  left: 13px;
  position: absolute;
  top: 53px;
  width: 19px;
}

.div-wrapper_sl .arrowupdown_sl {
  cursor: pointer;
}

.div-wrapper_sl .div-2_sl {
  background-color: #ffffff;
  height: 782px;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  top: 135px;
  width: 412px;
}

.div-wrapper_sl .div-2_sl::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.div-wrapper_sl .element_sl {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #cfcfcf;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 412px;
}

.div-wrapper_sl .text-wrapper-4_sl {
  color: #959595;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.div-wrapper_sl .group-2_sl {
  height: 12px;
  left: 376px;
  position: absolute;
  top: 19px;
  width: 12px;
}

.div-wrapper_sl .vector-2_sl {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 15px;
  width: 21px;
}

.div-wrapper_sl .text-wrapper-5_sl {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.div-wrapper_sl .element-2_sl {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #cfcfcf;
  height: 50px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 412px;
}

.div-wrapper_sl .text-wrapper-6_sl {
  color: #959595;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.div-wrapper_sl .group-3_sl {
  height: 12px;
  left: 376px;
  position: absolute;
  top: 19px;
  width: 12px;
}

.div-wrapper_sl .vector-3_sl {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 15px;
  width: 21px;
}

.div-wrapper_sl .text-wrapper-7_sl {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.div-wrapper_sl .element-3_sl {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #cfcfcf;
  height: 50px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 412px;
}

.div-wrapper_sl .text-wrapper-8_sl {
  color: #959595;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.div-wrapper_sl .group-4_sl {
  height: 12px;
  left: 376px;
  position: absolute;
  top: 19px;
  width: 12px;
}

.div-wrapper_sl .vector-4_sl {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 15px;
  width: 21px;
}

.div-wrapper_sl .text-wrapper-9_sl {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.div-wrapper_sl .element-4_sl {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #cfcfcf;
  height: 50px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 412px;
}

.div-wrapper_sl .text-wrapper-10_sl {
  color: #959595;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 313px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.div-wrapper_sl .group-5_sl {
  height: 12px;
  left: 376px;
  position: absolute;
  top: 19px;
  width: 12px;
}

.div-wrapper_sl .vector-5_sl {
  height: 21px;
  left: 8px;
  position: absolute;
  top: 15px;
  width: 21px;
}

.div-wrapper_sl .text-wrapper-11_sl {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.div-wrapper_sl .menu_sl {
  height: 30px;
  left: 373px;
  position: absolute;
  top: 4px;
  width: 30px;
}

.div-wrapper_sl .input-field_sl {
  width: 300px; /* 적당한 너비로 설정 */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  outline: none;
  cursor: pointer;
}

.div-wrapper_sl .input-field_sl:focus {
  border-color: none; /* 포커스 시 테두리 색상 */
  box-shadow:none; /* 포커스 시 그림자 효과 */
}